body {
  font-family: 'Acme', sans-serif;
}

/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ea5455;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #decdc3;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  color: #e5e5e5;
}

/* Content */
h1 {
  font-family: 'Niconne', cursive;
}

.content {
  margin-left: 200px;
  padding: 16px;
  height: 1000px;
  color: #000;
  background-color: #e5e5e5;
}

/* Tablet Display */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  .content {
    margin-left: 0;
  }
}

/* Mobile-Website */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
