body{
  background-color: #e5e5e5;
  color: #ea5455;
  font-family: 'Acme', sans-serif;
}

/* Home-Section */
#home{
  padding: 0;
  margin: 9rem;
}

/* Navbar */
.navbar{
  background-color: #2d4059;
  font-size: 14px;
}

.brand-font{
  font-family: 'Niconne', cursive;
  font-size: 2rem;
}

.right-edge{
  padding-left: 50px;
}

/* Video Pane */
.card{
  width: 15rem;
  margin: 10px;
}

.card-body{
  padding: 10px;
  background-color: #decdc3;
}

.card-text{
  font-size: 12px;
  text-align: center;
}

/* Icons */
.social-icon {
  margin: 20px 10px;
}

a{
  color: #e5e5e5;
}

a:hover{
  color: #ea5455;
}

/* Footer */
p{
  font-size: 12px;
  margin-top: 8px;
}

footer{
  background-color: #2d4059;
  color: #e5e5e5;
  text-align: center;
  padding: 16px;
}

/* Mobile-Website */
@media(max-width: 700px){

  #home{
    margin: 4rem;
  }

}
